@use 'sass:color';
@use 'sass:map';
@use '../fonts';
@use '../colors';

body {
  font-family: fonts.$article_body;
  line-height: 1.75rem;
  background-color: #f6f6f6;
}

strong,
b {
  font-family: fonts.$article_body_bold;
  font-weight: normal;
}

em,
i {
  font-family: fonts.$article_body_italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0;
  padding: 0;
  font-family: fonts.$article_title;
  font-weight: normal;

  em,
  i {
    font-family: fonts.$article_title_italic;
  }
}

.meta {
  font-family: fonts.$article_meta;
}

blockquote {
  padding: 1.5rem 1.75rem;
  margin: 2rem 0;
  font-family: fonts.$article_body_italic;
  background-color: #eee;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

p {
  margin: 1rem 0;
}

a {
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  color: map.get(colors.$words, 'dark');
  text-decoration: underline;

  &:visited {
    color: map.get(colors.$words, 'main');
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: map.get(colors.$words, 'main');
    border-bottom: 2px solid color.scale(map.get(colors.$words, 'main'), $lightness: -25%);
    text-decoration: none;
  }

  &:active {
    background-color: map.get(colors.$words, 'dark');
  }
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 1rem 0;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  color: #777;
}

ol, ul {
  padding-left: 1rem;

  li + li {
    margin-top: 1rem;
  }
}
