---
layout: default.layout
title: 'Words :: Rob McLarty'
---

<h1>Words (IN PROGRESS)</h1>
<p>by <a href="/">Rob McLarty</a></p>

<ul>
  {% for article in collections.articles %}
    {% if article.data.published %}
      <li>
        <p>
          <a href="{{ article.url }}">{{ article.data.title }}</a>
        </p>
        <ul>
          {% for tag in article.data.tags %}
            {% if tag != "articles" %}
              <li>
                <a href="/tags/{{ tag }}">{{ tag }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
