<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/words.css" rel="stylesheet" type="text/css">
    <title>{{ title }} :: Words :: Rob McLarty</title>
  </head>

  <body class="words">
    <!-- <header>
      <nav>
        <a href="/words">words</a>
      </nav>

      <div class="name">
        rob<strong>mclarty</strong>
      </div>
    </header> -->

    <article>
      <section class="content">
        <header>
          <h1>{{ title }}</h1>

          <p class="date">
            {{ date.toLocaleDateString('en-CA', { year: "numeric", month: "long", day: "numeric" }) }}
          </p>

          <ul>
            <li>
              <a href="/words">words</a> ::
            </li>

            {% for tag in tags %}
              {% if tag != "articles" %}
                <li>
                  <a href="/tags/{{ tag }}">{{ tag }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </header>

        {{ content | safe }}

        <footer>
          <a href="/words">Back to Words</a>
          <br />
          <br />
          &copy; 1997-2023 Rob McLarty
        </footer>
      </section>
    </article>

    <aside class="banner" style="background-image: url('/images/words/articles/{{ banner }}')">
      <a class="back" href="/words" title="Back to Words">Back to Words</a>
    </aside>
  </body>
</html>
