<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/words.css" rel="stylesheet" type="text/css">
    <title>{{ title }} :: Words :: Rob McLarty</title>
  </head>

  <body class="words">
    <header>
      <nav>
        <a href="/words">words</a>
      </nav>

      <div class="name">
        rob<strong>mclarty</strong>
      </div>
    </header>

    <section>
      <article>
        <header>
          <h1>{{ title }}</h1>

          <ul>
            {% for tag in tags %}
              {% if tag != "articles" %}
                <li>
                  <a href="/tags/{{ tag }}">{{ tag }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </header>

        {{ content | safe }}
      </article>
    </section>

    <footer>
      &copy; 1997-2023 Rob McLarty
    </footer>
  </body>
</html>
