<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/words.css" rel="stylesheet" type="text/css">
    <title>{{ title }} :: Words :: Rob McLarty</title>
  </head>

  <body class="words">
    <section class="content">
      <article>
        <header>
          <h1>{{ title }}</h1>

          {% if subtitle %}
            <p>{{ subtitle }}</p>
          {% endif %}

          <div class="meta">
            <span>Published in</span>

            <ul class="tags">
              {% for tag in tags %}
                {% if tag != "articles" %}
                  <li>
                    <a href="/tags/{{ tag }}">{{ tag }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            <span>·</span>

            <time datetime="{{ date }}">
              {{ date.toLocaleDateString('en-CA', { year: "numeric", month: "short", day: "numeric" }) }}
            </time>
          </div>
        </header>

        {{ content | safe }}

        <footer>
          <ul class="tags">
            <li>
              <a href="/words">words</a>
            </li>
            <li>::</li>

            {% for tag in tags %}
              {% if tag != "articles" %}
                <li>
                  <a href="/tags/{{ tag }}">{{ tag }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </footer>
      </article>

      <footer class="content-footer">
        <div>
          <ul class="more">
            <li>Another Article</li>
            <li>Yet Another Article</li>
            <li>And One More</li>
            <li>More Still Yet</li>
          </ul>

          <p>
            &copy; 1997-2023 Rob McLarty
          </p>
        </div>
      </footer>
    </section>

    <section class="banner" style="background-image: url('/images/words/articles/{{ banner }}')">
      <a class="back" href="/words" title="Back to Words">Back to Words</a>
    </section>
  </body>
</html>
