$article_title: "Sohne Bold Three Quarter", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article_title_italic: "Sohne Bold Three Quarter Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article_title_light: "Sohne Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article_semibold: "Sohne Semi Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article_subtitle: "Sohne Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article_meta: "Sohne Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
$article_body: "Source Serif Pro Regular", Georgia, Cambria, "Time New Roman", "Times", serif;
$article_body_bold: "Source Serif Pro Bold", Georgia, Cambria, "Time New Roman", "Times", serif;
$article_body_italic: "Source Serif Pro Italic", Georgia, Cambria, "Time New Roman", "Times", serif;
$article_code: "Source Code Pro Regular", Menlo, Monaco, "Courier New", Courier, monospace;
$article_code_bold: "Source Code Pro Bold", Menlo, Monaco, "Courier New", Courier, monospace;
$article_code_italic: "Source Code Pro Italic", Menlo, Monaco, "Courier New", Courier, monospace;
