/**
 * Root Stylesheet
 *
 * @see https://sass-lang.com/documentation/cli/dart-sass
 * @see https://github.com/sass/dart-sass
 * @see https://sass-lang.com/documentation/js-api/
 * @see https://sass-lang.com/documentation/js-api/interfaces/Options
 * @see https://dev.to/stefaniefluin/the-new-sass-module-system-out-with-import-in-with-use-g3m
 */
@use 'sass:color';
@use 'sass:map';
@use 'base';
// @use 'animations';
// @use '../app';
@use './fonts';
@use './colors';

$header_height: 60px;
$max_content_width: 680px;
$max_content_responsive_width: $max_content_width + 60px;

.words > header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  padding: 1rem;
  background-color: map.get(colors.$words, 'main');
  font-size: 2.5rem;
  line-height: 1.2rem;
  color: white;
  overflow: hidden;

  nav {
    z-index: 2;
    position: absolute;
    right: 1.5rem;
    top: 1.1rem;

    a {
      text-decoration: none;
      font-family: fonts.$article_semibold;
      border: 0;
      color: map.get(colors.$words, 'text');

      &:hover,
      &:active,
      &:focus {
        color: map.get(colors.$words, 'dark');
      }
    }
  }

  .name {
    z-index: 1;
    position: absolute;
    bottom: 0.5rem;
    left: 1.5rem;
    font-size: 6.5rem;
    font-family: fonts.$article_title_light;
    line-height: 1rem;
    color: map.get(colors.$words, 'dark');
    opacity: 0.5;

    strong {
      font-family: fonts.$article_title;
    }
  }
}

.words > footer {
  width: 100%;
  padding: 2rem;
  background-color: #ddd;
  color: #666;
  font-family: fonts.$article_title_light;
}

.words > section {
  display: grid;
  width: 100%;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;

  & > article {
    width: 100%;
    max-width: $max_content_width;
    margin: 0 1.5rem 4rem 1.5rem;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.25rem;

    header {
      h1 {
        margin-bottom: 0;
      }

      ul {
        list-style: none;
        margin: 0 0 2rem 0;
        padding: 0;

        li {
          display: inline-block;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: $max_content_responsive_width) {
  .words > header {
    nav {
      right: 1rem;
    }

    .name {
      bottom: 0.05rem;
      left: 1rem;
      font-size: 3rem;
    }
  }

  .words > section {
    display: block;
    justify-content: normal;
    padding-top: 0;
    padding-bottom: 0;

    & > article {
      width: auto;
      font-size: 1.1rem;
      line-height: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem;

      h1 {
        font-size: 3rem;
        line-height: 2.25rem;
        margin-bottom: 2.5rem;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-top: 1.75rem;
      }
    }
  }
}
